persistent-terminals.log
snn/multimodal-snn/data/*
asteroid/*
snn/multimodal-snn/src/data_pipeline_helper_functions/__pycache__/*
snn/multimodal-snn/src/load_labels/__pycache__/*
snn/multimodal-snn/src/model_training/__pycache__/*

