@import "tailwindcss";

:root {
  --color-secondary-blue: #94affa; /* pastel blue */
  --color-secondary-purple:   #b393f7; /* lavender purple */
}

@layer utilities {
  .bg-gradient-secondary {
    @apply bg-gradient-to-br from-[var(--color-secondary-blue)] to-[var(--color-secondary-purple)];
  }
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
